<section class="app-section">
  <div class="app-section__input-container">
    <input
      type="text"
      name=""
      id=""
      [(ngModel)]="item"
      (keyup)="onKey($event)"
    />
    <button class="app-section__add-button" (click)="addItem()">
      Add Item
    </button>
  </div>
  <span class="app-section__item">New item: {{ item }}</span>
  <ul class="app-section__list">
    <li class="app-section__list-item" *ngFor="let item of items; index as i">
      {{ item }}

      <button class="app-section__delete-button" (click)="deleteItem(i)">
        Delete Item
      </button>
    </li>
  </ul>
</section>
